<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="templates/fragments/header :: common_header(~{::title},~{::link})"></head>
    <body>
        <div class="wrap">
            <div>
                <div class="container-fluid">
                    <div class="row-fluid contain">
                        <div class="login-container" style="width:500px; margin-left: -250px;">
                             <div class="login clearfix">
                                <header class="login-header" role="banner">
                                    <div class="login-header-content">
                                        <p style="color:white; font-family: sans-serif; font-size: 25px">Health-e-Link Universal Translator</p>
                                    </div>
                                </header>
                             </div>
                             <p class="login-note"><a href="/forgotPassword" id="forgotPassword" title="Forget Your Password?">Forgot Password?</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="templates/fragments/footer :: footer"></div>
        <th:block layout:fragment="script">
            <script th:src="@{/static/js/admin/login.js}"></script>
        </th:block>
    </body>
</html>
