<nav class="navbar navbar-default actions-nav" role="navigation"  th:fragment="actionBar">
    <div class="contain">
        <div class="navbar-header">
            <h1 class="section-title navbar-brand">
                <span th:if="${actionPage == 'connections'}">Source/Target Configuration Field Connections</span>
                <span th:if="${actionPage == 'connectionDetails'}">Configuration  - Details</span>
            </h1>
        </div>
        <ul class="nav navbar-nav navbar-right navbar-actions" role="menu">
            <!-- Configuration List -->
             <li th:if="${actionPage == 'connections' and allowConnectionImport != null}" role="menuitem" class="importConnectionBtn">
               <a href="#connectionImportUploadModal" data-bs-toggle="modal" class="importConnection" title="Import Connection" role="button">
                   <span class="glyphicon icon-stacked glyphicon glyphicon-import"></span>Import Connection</a>
             </li>
            </li>
            <li th:if="${actionPage == 'connections'}" role="menuitem">
                <a th:href="@{/administrator/configurations/connections/details}" role="button" title="Create Configuration Connection">
                    <span class="glyphicon icon-stacked glyphicon glyphicon-plus"></span>Create New
                </a>
            </li>
            <th:block th:if="${actionPage == 'connectionDetails'}">
                <li th:if="${allowExport != ''}" role="menuitem" class="exportConnectionnBtn"> 
                    <a href="#" class="exportConnection" th:rel="${connectionId}" title="Export this Connection">
                        <span class="glyphicon icon-stacked glyphicon glyphicon-export"></span>Export Connection
                    </a>
                </li>
                <li role="menuitem">
                    <a href="#" class="printConfig" title="Print this Connection" th:rel="${connectionId}" role="button">
                        <span class="glyphicon glyphicon-print icon-stacked"></span> Print 
                    </a>
                </li>
                <li role="menuitem">
                    <a href="#" id="saveDetails" title="Save this Connection" role="button">
                        <span class="glyphicon glyphicon-ok icon-stacked"></span> Save 
                    </a>
                </li>
                 <li role="menuitem">
                     <a href="#" id="saveCloseDetails" title="Save &amp; Close" role="button">
                         <span class="glyphicon glyphicon-floppy-disk icon-stacked"></span> Save &amp; Close
                     </a>
                 </li>
            </th:block>
        </ul>
    </div>
</nav>