<nav class="navbar navbar-default actions-nav" role="navigation"  th:fragment="actionBar">
    <div class="contain">
        <div class="navbar-header">
            <h1 class="section-title navbar-brand">
                <span th:if="${actionPage == 'listConfigs'}">Configurations</span>
                <span th:if="${actionPage == 'configDetails'}">Configuration  - Details</span>
                <span th:if="${actionPage == 'transport'}">Configuration - Transport Method</span>
                <span th:if="${actionPage == 'fields'}">Configuration  - Available Fields</span>
                <span th:if="${actionPage == 'translations'}">Configuration - Data Translations</span>
                <span th:if="${actionPage == 'specs'}">Configuration - Message Specs</span>
                <span th:if="${actionPage == 'schedule'}">Configuration - Schedule</span>
                <span th:if="${actionPage == 'notes'}">Configuration Notes</span>
            </h1>
        </div>
        <ul class="nav navbar-nav navbar-right navbar-actions" role="menu">
            <!-- Configuration List -->
             <li th:if="${actionPage == 'listConfigs' and allowConfigImport != null}" role="menuitem" class="importConfigBtn">
               <a href="#" data-bs-target="#configFileUploadModal" data-bs-toggle="modal" class="importConfig" title="Import Configuration" role="button">
                   <span class="glyphicon icon-stacked glyphicon glyphicon-import"></span>Import Configuration</a>
             </li>
            </li>
            <li th:if="${actionPage == 'listConfigs'}" role="menuitem">
               <a th:href="@{/administrator/configurations/create}" title="Create New Configuration" role="button">
                    <span class="glyphicon icon-stacked glyphicon glyphicon-plus"></span>Create New
                </a>
            </li>
            <!-- Configuration Details -->
            <li th:if="${actionPage != 'listConfigs' and configurationDetails.id > 0}">
                <a href="#" class="exportConfig" th:rel="${configurationDetails.id}" title="Export this Configuration" role="button">
                    <span class="glyphicon glyphicon-export icon-stacked"></span>Export
                </a>
             </li> 
             <li th:if="${actionPage != 'listConfigs' and configurationDetails.id > 0}">
                <a href="#" class="printConfig" title="Print this Configuration" th:rel="${configurationDetails.id}" role="button">
                    <span class="glyphicon glyphicon-print icon-stacked"></span> Print 
                </a>
            </li>
            <li th:if="${actionPage != 'listConfigs' and actionPage != 'notes' and configurationDetails.id > 0}">
                <a href="#" id="saveDetails" title="Save this Configuration initial setup" role="button">
                    <span class="glyphicon glyphicon-ok icon-stacked"></span> Save 
                </a>
            </li>
            <li th:if="${actionPage != 'listConfigs' and actionPage != 'notes'}">
                <a href="#" id="next" title="Save and Proceed to the Next Step">
                    <span class="glyphicon glyphicon-forward icon-stacked" role="button"></span>Next Step
                </a>
            </li>
            <li role="menuitem" th:if="${actionPage != 'listConfigs'}">
                <a th:href="@{/administrator/configurations/list}" title="Cancel" role="button">
                    <span class="glyphicon icon-stacked  glyphicon-ban-circle"></span>Cancel
                </a>
             </li>
        </ul>
    </div>
</nav>