<aside class="secondary"  th:fragment="menuBar">
    <nav class="secondary-nav" role="navigation">
        <ul class="nav nav-pills" role="menu">
            <li style="width:100%" role="menuitem" class="nav-item" th:classappend="${actionPage == 'configDetails' ? 'active' : ''}">
                <a class="nav-link" th:classappend="${actionPage == 'configDetails' ? 'active' : ''}" th:href="${'details?i='+configurationDetails.id}" title="Details">Details</a>
            </li>
            <li style="width:100%" role="menuitem" class="nav-item" th:classappend="${(actionPage == 'transport' ? 'active' : '')+(configurationDetails.id > 0 ? '' : 'disabled')}">
                <a class="nav-link" th:classappend="${actionPage == 'transport' ? 'active' : ''}" th:href="${configurationDetails.id > 0 ? 'transport' : '#'}" title="Transport Method">Transport Method</a>
            </li>
	    <li style="width:100%" role="menuitem" class="nav-item" th:classappend="${(actionPage == 'specs' ? 'active' : '') + (configurationDetails.id > 0 ? '' : 'disabled')}">
	       <a class="nav-link" th:classappend="${actionPage == 'specs' ? 'active' : ''}" th:href="${configurationDetails.id > 0 ? 'messagespecs' : '#'}" title="Detail Message Specs">Message Specs</a>
	    </li>
            <li style="width:100%" role="menuitem" class="nav-item" th:classappend="${(actionPage == 'fields' ? 'active' : '')+(configurationDetails.id > 0 ? '' : 'disabled')}">
		<a class="nav-link" th:classappend="${actionPage == 'fields' ? 'active' : ''}" th:href="${configurationDetails.id > 0 ? 'availableFields' : '#'}" title="Field Settings">Available Fields</a>
	    </li>
            <li style="width:100%" role="menuitem" class="nav-item" th:classappend="${(actionPage == 'translations' ? 'active' : '')+(configurationDetails.id > 0 ? '' : 'disabled')}">
                <a class="nav-link" th:classappend="${actionPage == 'translations' ? 'active' : ''}" th:href="${configurationDetails.id > 0 ? 'translations' : '#'}" title="Data Translations">Data Translations</a>
            </li>
            <li style="width:100%" role="menuitem" class="nav-item" th:classappend="${(actionPage == 'schedule' ? 'active' : '')+(configurationDetails.id > 0 ? '' : 'disabled')}">
                <a class="nav-link" th:classappend="${actionPage == 'schedule' ? 'active' : ''}" th:href="${configurationDetails.id > 0 ? 'scheduling' : '#'}" title="Data Translations">Processing Schedule</a>
            </li>
	    <li style="width:100%" role="menuitem" class="nav-item" th:classappend="${(actionPage == 'notes' ? 'active' : '')+(configurationDetails.id > 0 ? '' : 'disabled')}">
                <a  class="nav-link" th:classappend="${actionPage == 'notes' ? 'active' : ''}" th:href="${configurationDetails.id > 0 ? 'notes' : '#'}" title="Configuration Notes">Configuration Notes</a>
            </li>
            <li style="width:100%" role="menuitem" class="nav-item" th:classappend="${(actionPage == 'audit' ? 'active' : '')+(configurationDetails.id > 0 ? '' : 'disabled')}">
                <a  class="nav-link" th:classappend="${actionPage == 'audit' ? 'active' : ''}" th:href="${configurationDetails.id > 0 ? 'audit' : '#'}" title="Configuration Audit Logs">Audit Logs</a>
            </li>
        </ul>
    </nav>
</aside>