<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans" 
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">

    <http pattern="/rest.api/**" security="none"/>
    
    <http auto-config="true">
        <intercept-url access="hasAnyRole('ROLE_VALIDATE')" pattern="/authenticate/**" />
        <intercept-url access="hasAnyRole('ROLE_ADMIN')" pattern="/administrator/processing-activity/**" />
        <intercept-url access="hasAnyRole('ROLE_ADMIN','ROLE_OPERATIONSSTAFF','ROLE_SYSTEMADMIN')" pattern="/administrator/**" />
        <intercept-url access="hasAnyRole('ROLE_ADMIN', 'ROLE_USER','ROLE_OPERATIONSSTAFF','ROLE_SYSTEMADMIN')" pattern="/FileDownload/**" />
        <intercept-url access="hasAnyRole('ROLE_ADMIN','ROLE_OPERATIONSSTAFF','ROLE_SYSTEMADMIN')" pattern="/watchlist/**" />
        <intercept-url pattern="/dspResources/**" access="permitAll" />
        <intercept-url pattern="/scheduleTask/*"  access="permitAll" />
        <intercept-url pattern="/login" access="permitAll" />
        <intercept-url pattern="/loginfailed" access="permitAll" />
        <intercept-url pattern="/logout" access="permitAll" />
        <intercept-url pattern="/userlogout" access="permitAll" />
        <intercept-url pattern="/forgotPassword*" access="permitAll" />
        <intercept-url pattern="/sendPassword*" access="permitAll" />
        <intercept-url pattern="/resetPassword*" access="permitAll" />
        <intercept-url pattern="/resendCode*" access="permitAll" />
        <intercept-url pattern="/validateCode*" access="permitAll" />
        <intercept-url pattern="/disableUser*" access="permitAll" />
        <logout invalidate-session="true" delete-cookies="JSESSIONID" logout-success-url="/login"></logout>
        <form-login 
            default-target-url="/"
	    authentication-success-handler-ref="authenticationSuccessRedirecthandler" 
	    authentication-failure-url="/loginfailed" 
	    authentication-details-source-ref="customWebAuthenticationDetails"
	    login-page="/login" 
	    login-processing-url="/loginAction" 
        />
        <session-management invalid-session-url="/login">
            <concurrency-control session-registry-alias="sessionRegistry" max-sessions="1" expired-url="/login?expired" />
        </session-management>
        <headers>
            <header name="Content-Security-Policy" value="style-src 'self' https://cdn.datatables.net/ https://cdn.jsdelivr.net/ http://fonts.googleapis.com 'unsafe-inline'; media-src 'none'; block-all-mixed-content; frame-ancestors 'self'; script-src-attr 'unsafe-inline'; img-src 'self' data:; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://cdn.jsdelivr.net/ https://cdn.datatables.net/ https://ajax.googleapis.com 'nonce-9483TZ393HIE383';" />
	    <cache-control />
            <content-type-options />
            <hsts />
            <frame-options policy="SAMEORIGIN" />
	    <referrer-policy policy="same-origin" />
            <xss-protection />
        </headers>
        <csrf disabled="true"></csrf>
    </http>

    <authentication-manager>
        <authentication-provider ref="customAuthenticationProvider" />
    </authentication-manager>
     
    <beans:bean class="com.hel.ut.security.CustomWebAuthenticationDetails" id="customWebAuthenticationDetails"></beans:bean>
    <beans:bean class="com.hel.ut.security.CustomAuthenticationProvider" id="customAuthenticationProvider"></beans:bean>
    <beans:bean class="com.hel.ut.security.CustomAuthenticationHandler" id="authenticationSuccessRedirecthandler"></beans:bean>
    
</beans:beans>