
<table class="table table-dash-bordered table-default" th:id="${not #lists.isEmpty(genericbatches) ? 'genericdataTable' : ''}">
    <thead class="thead-light">
        <tr>
            <th scope="col" class="center-text">Completed</th>
            <th scope="col" class="center-text">Date/Time</th>
            <th scope="col">Message</th>
        </tr>
    </thead>
    <tbody>
        <div th:if="${not #lists.isEmpty(genericbatches)}">
            <th:block th:each="generic : ${genericbatches}">
                <tr th:id="genericRo + '_' + ${generic.id}" th:class="${generic.dashboardRowColor}">
                     <td scope="row" class="center-text">
                        <input class="complateGenericEntry" th:rel="${generic.id}" type="checkbox" name="completed" th:checked="${generic.watchListCompleted == true ? true : false}" />
                     </td>
                    <td scope="row" class="center-text" th:text="${#dates.format(generic.dateSubmitted, 'M/dd/yy h:mm a')}"></td>
                    <td scope="row" th:text="${generic.entryMessage}"></td>
                </tr>
            </th:block>
        </div>
        <div th:if="${#lists.isEmpty(genericbatches)}">
            <tr><td colspan="3" class="center-text">There are currently no generic messages for the selected date range.</td></tr>
        </div>
    </tbody>
</table>